[submodule "zsh/zsh-vcs-prompt"]
	path = zsh/zsh-vcs-prompt
	url = https://github.com/yonchu/zsh-vcs-prompt.git
[submodule "bin/t"]
	path = bin/t
	url = https://github.com/sjl/t.git
[submodule "zsh/fish-highlighting"]
	path = zsh/fish-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tmuxifier/tmuxifier"]
	path = tmuxifier/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
