# Icon files
*.(I|i)con?
(I|i)con?
*.icns

# For Mac OS X files
.fseventsd
.DS_Store?
.Trashes
.TemporaryItems
._*
.Spotlight-V100

# For Windows files
ehthumbs.db
Thumbs.db

# KDE files
.directory

# Vim stuff
vim/*

# emacs.d
emacs.d/*
!emacs.d/init.el

# Zsh history
shells/zsh/zsh_history/

# Environment specific files
.c9revisions
.idea

# Fish shell
config/fish/*
!config/fish/config.fish
!config/fish/functions/
