# Icon files
*.(I|i)con?
(I|i)con?
*.icns

# For Mac OS X files
.fseventsd
.DS_Store?
.Trashes
.TemporaryItems
._*
.Spotlight-V100

# For Windows files
ehthumbs.db
Thumbs.db

# Vim stuff
vim/*
!vim/bundles/update

# emacs.d
emacs.d/*
!emacs.d/init.el
!emacs.d/Cask

# Zsh history
zsh/*
!zsh/safe-paste.sh
!zsh/vcs-prompt.sh

# Fish shell
config/fish/*
!config/fish/config.fish
!config/fish/functions/

# XMonad
xmonad/*
!xmonad/xmonad.hs
